%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{cpg, ".*",
   {git, "https://github.com/okeuday/cpg.git",
    {tag, "v2.0.7"}}},
  {uuid, ".*",
   {git, "https://github.com/okeuday/uuid.git",
    {tag, "v2.0.7"}}},
  {reltool_util, ".*",
   {git, "https://github.com/okeuday/reltool_util.git",
    {tag, "v2.0.7"}}},
  {supool, ".*",
   {git, "https://github.com/okeuday/supool.git",
    {tag, "v2.0.7"}}},
  {varpool, ".*",
   {git, "https://github.com/okeuday/varpool.git",
    {tag, "v2.0.7"}}},
  {trie, ".*",
   {git, "https://github.com/okeuday/trie.git",
    {branch, "master"}}},
  {erlang_term, ".*",
   {git, "https://github.com/okeuday/erlang_term.git",
    {branch, "master"}}},
  {quickrand, ".*",
   {git, "https://github.com/okeuday/quickrand.git",
    {tag, "v2.0.7"}}},
  {pqueue, ".*",
   {git, "https://github.com/okeuday/pqueue.git",
    {tag, "v2.0.7"}}},
  {key2value, ".*",
   {git, "https://github.com/okeuday/key2value.git",
    {tag, "v2.0.7"}}},
  {keys1value, ".*",
   {git, "https://github.com/okeuday/keys1value.git",
    {tag, "v2.0.7"}}},
  {nodefinder, ".*",
   {git, "https://github.com/okeuday/nodefinder.git",
    {branch, "master"}}},
  {syslog_socket, ".*",
   {git, "https://github.com/okeuday/syslog_socket.git",
    {branch, "master"}}},
  {ntpstat, ".*",
   {git, "https://github.com/okeuday/ntpstat.git",
    {branch, "master"}}}]}.

{erl_opts,
 [{d, 'CLOUDI_LOGGER'},
  deterministic,
  debug_info,
  warn_export_vars,
  warn_unused_import,
  %warn_missing_spec,
  warnings_as_errors]}.
{edoc_opts,
 [{preprocess, true}]}.
{clean_files, ["test/*.beam"]}.
{ct_extra_params, "-test"}.
{ct_use_short_names, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

