%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{cpg, ".*",
   {git, "https://github.com/okeuday/cpg.git",
    {tag, "v2.0.1"}}},
  {uuid, ".*",
   {git, "https://github.com/okeuday/uuid.git",
    {tag, "v2.0.1"}}},
  {reltool_util, ".*",
   {git, "https://github.com/okeuday/reltool_util.git",
    {branch, "master"}}},
  {supool, ".*",
   {git, "https://github.com/okeuday/supool.git",
    {tag, "v2.0.1"}}},
  {varpool, ".*",
   {git, "https://github.com/okeuday/varpool.git",
    {tag, "v2.0.1"}}},
  {trie, ".*",
   {git, "https://github.com/okeuday/trie.git",
    {tag, "v2.0.1"}}},
  {erlang_term, ".*",
   {git, "https://github.com/okeuday/erlang_term.git",
    {tag, "v2.0.1"}}},
  {quickrand, ".*",
   {git, "https://github.com/okeuday/quickrand.git",
    {branch, "master"}}},
  {pqueue, ".*",
   {git, "https://github.com/okeuday/pqueue.git",
    {tag, "v2.0.1"}}},
  {key2value, ".*",
   {git, "https://github.com/okeuday/key2value.git",
    {branch, "master"}}},
  {keys1value, ".*",
   {git, "https://github.com/okeuday/keys1value.git",
    {tag, "v2.0.1"}}},
  {nodefinder, ".*",
   {git, "https://github.com/okeuday/nodefinder.git",
    {tag, "v2.0.1"}}},
  {syslog_socket, ".*",
   {git, "https://github.com/okeuday/syslog_socket.git",
    {tag, "v2.0.1"}}}]}.

{erl_opts,
 [debug_info,
  {platform_define, "^19\.", 'ERLANG_OTP_VERSION_19'},
  {platform_define, "^20\.", 'ERLANG_OTP_VERSION_20'},
  {d, 'CLOUDI_LOGGER'},
  warnings_as_errors,
  strict_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.
{edoc_opts,
 [{preprocess, true}]}.
{clean_files, ["test/*.beam"]}.
{ct_extra_params, "-test"}.
{ct_use_short_names, true}.
{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.
{xref_warnings, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.


